<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <title>Statistikk - Covid19</title>

        <style>
        

        body {
            padding: 0; 
            margin: 0; 
        }

        .container {
            margin: 0 auto; 
            width: 50%; 
            margin-top: 15px;  
        }

        .total_cases_confirmed {
            color: rgb(122, 106, 106); 
            font-family: "Times New Roman", Times, serif;
            text-align: center; 
        }
        
        </style>

    </head>
    <body>

           
        <div class="container">
            <div class="total_cases_confirmed">
                <h1>Antall bekreftede smittet: <%=confirmed_cases%></h1>
            </div>
        </div>

    </body>
</html>